@layer base {
  /**
    * @description: use default border color from v3
    * @see: https://tailwindcss.com/docs/upgrade-guide#default-border-color
    * */
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }

  html {
    font-family: 'Pretendard', system-ui, sans-serif;
  }

  input[type='number'] {
    margin: 0;
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /**
    * @description: use default placeholder color from v3
    * @see: https://tailwindcss.com/docs/upgrade-guide#new-default-placeholder-color
    * */
  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  /**
    * @description: use default button cursor from v3
    * @see: https://tailwindcss.com/docs/upgrade-guide#buttons-use-the-default-cursor
    * */
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }

  details > summary {
    list-style: none;
  }

  details > summary::-webkit-details-marker {
    display: none;
  }

  /**
    * @description: use default margin value of dialog element from v3
    * @see: https://tailwindcss.com/docs/upgrade-guide#dialog-margins-removed
    * */
  dialog {
    margin: auto;
  }
}

@layer utilities {
  @font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-display: swap;
    src:
      local('Pretendard'),
      url('./fonts/Pretendard-Regular.woff2') format('woff2'),
      url('./fonts/Pretendard-Regular.woff') format('woff'),
      url('./fonts/Pretendard-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-display: swap;
    src:
      local('Pretendard'),
      url('./fonts/Pretendard-Medium.woff2') format('woff2'),
      url('./fonts/Pretendard-Medium.woff') format('woff'),
      url('./fonts/Pretendard-Medium.otf') format('opentype');
  }

  @font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-display: swap;
    src:
      local('Pretendard'),
      url('./fonts/Pretendard-Bold.woff2') format('woff2'),
      url('./fonts/Pretendard-Bold.woff') format('woff'),
      url('./fonts/Pretendard-Bold.otf') format('opentype');
  }
}
