@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .flex-h-stack {
    @apply flex flex-row;
  }

  .flex-v-stack {
    @apply flex flex-col;
  }

  .bbodek-field {
    @apply w-full flex-1 bg-transparent text-gray-08 outline-none placeholder:text-gray-05 read-only:text-gray-05 disabled:text-gray-05;
  }
}

@layer base {
  html {
    font-family: 'Pretendard', system-ui, sans-serif;
  }

  input[type='number'] {
    margin: 0;
    appearance: textfield;
    -moz-appearance: textfield;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard'),
    url('./fonts/Pretendard-Regular.woff2') format('woff2'),
    url('./fonts/Pretendard-Regular.woff') format('woff'),
    url('./fonts/Pretendard-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src:
    local('Pretendard'),
    url('./fonts/Pretendard-Medium.woff2') format('woff2'),
    url('./fonts/Pretendard-Medium.woff') format('woff'),
    url('./fonts/Pretendard-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard'),
    url('./fonts/Pretendard-Bold.woff2') format('woff2'),
    url('./fonts/Pretendard-Bold.woff') format('woff'),
    url('./fonts/Pretendard-Bold.otf') format('opentype');
}
