@source inline(
  '{hover:,focus:,active:,}{text-{head,subhead,body,}-{01,02,03}-{regular,medium,bold}}'
);
@source inline(
  '{hover:,focus:,active:,}{bg,text,fill,placeholder,border}-{white,black,error,warning,success,transparent}'
);
@source inline(
  '{hover:,focus:,active:,}{bg,text,fill,placeholder,border}-{primary,gray}-{01,02,03,04,05,06,07,08,09,}'
);
